body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#fff !important;

}

body.pushable>.pusher {
  background: #fff !important;
}
a {
  color: #00B7FF;
}
